<div class="col-xs-12 panel-body abs-center" >
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="form"  >
    <h2 class="text-center"><strong>Crear</strong> una cuenta.</h2>
    <div class="form-group">
      <input class="form-control"  type="text" name="name" placeholder="Nombre" #name="ngModel" [(ngModel)]="user.name" required />
      <span *ngIf="!name.valid && name.touched"> El ingreso es obligatorio </span>
    </div>

    <div class="form-group">
      <input class="form-control"  type="text" name="lastname" placeholder="Apellidos" #lastname="ngModel" [(ngModel)]="user.lastname" required />
      <span *ngIf="!lastname.valid && lastname.touched">El ingreso es obligatorio </span>
    </div>

    <div class="form-group">
      <input class="form-control"  type="text" name="rut" placeholder="Ingrese Rut" #rut="ngModel" [(ngModel)]="user.rut" required pattern="\d{8}-[\d|kK]{1}" />
      <span *ngIf="!rut.valid && rut.touched">El ingreso es obligatorio o el rut no es valido</span>
    </div>
    

    <div class="form-group">
      <label>Fecha de nacimiento</label>
      <input class="form-control" type="date" name="yearold" placeholder="Fecha de nacimiento" #yearold="ngModel" [(ngModel)]="user.yearold" required />
      <span *ngIf="!yearold.valid && yearold.touched">El ingreso es obligatorio</span>
    </div>

    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Correo" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
      <span *ngIf="!email.valid && email.touched">El correo es invalido</span>
    </div>

    <div class="form-group">
      <input class="form-control"  type="text" name="formation" placeholder="Formación academica (Donde te preparaste)" #formation="ngModel" [(ngModel)]="user.formation" required />
      <span *ngIf="!formation.valid && formation.touched"> El ingreso es obligatorio</span>
    </div>

    <div>
      <input class="form-control" type="text" name="phone_number" placeholder="Numero de telefono" #phone_number="ngModel" [(ngModel)]="user.phone_number" required /> 
      <span *ngIf="!phone_number.valid && phone_number.touched"> El ingreso es obligatorio </span>
    </div>
    
    <div class="form-group">
      <label for="gender" > Selecione su genero </label>
      <select class="form-control" name="gender" id="gender" #gender="ngModel" [(ngModel)]="user.gender">
        <option value="Femenino"> Femenino </option>
        <option value="Masculino"> Masculino </option>
      </select>
    </div>
    <hr>
    <!-- Regiones -->
    <div class="form-group">
      <label for="Region" > Selecione una o multiples regiones, debe seleccionar al menos una </label>
      <select class="form-control" name="region1" id="region1" #region1="ngModel" [(ngModel)]="user.region1" required>
        <option value="Arica y Parinacota"> Arica y Parinacota   </option>
        <option value="Región de Tarapacá"> Región de Tarapacá </option>
        <option value="Región de Antofagasta"> Región de Antofagasta </option>
        <option value="Región de Atacama"> Región de Atacama </option>
        <option value="Región de Coquimbo"> Región de Coquimbo </option>
        <option value="Región de Valparaíso"> Región de Valparaíso </option>
        <option value="Región Metropolitana de Santiago"> Región Metropolitana de Santiago </option>
        <option value="Región del Libertador General Bernardo O'Higgins"> Región del Libertador General Bernardo O'Higgins </option>
        <option value="Región del Maule"> Región del Maule </option>
        <option value="Región de Ñuble"> Región de Ñuble </option>
        <option value="Región del Biobío"> Región del Biobío </option>
        <option value="Región de Los Ríos"> Región de Los Ríos </option>
        <option value="Región de Los Lagos"> Región de Los Lagos </option>
        <option value="Región de Aysén del General Carlos Ibáñez del Campo"> Región de Aysén del General Carlos Ibáñez del Campo </option>
        <option value="Región de Magallanes y de la Antártica Chilena"> Región de Magallanes y de la Antártica Chilena </option>


      </select>
      <br>

      <select class="form-control" name="region2" id="region2" #region2="ngModel" [(ngModel)]="user.region2">
        <option value="Arica y Parinacota"> Arica y Parinacota   </option>
        <option value="Región de Tarapacá"> Región de Tarapacá </option>
        <option value="Región de Antofagasta"> Región de Antofagasta </option>
        <option value="Región de Atacama"> Región de Atacama </option>
        <option value="Región de Coquimbo"> Región de Coquimbo </option>
        <option value="Región de Valparaíso"> Región de Valparaíso </option>
        <option value="Región Metropolitana de Santiago"> Región Metropolitana de Santiago </option>
        <option value="Región del Libertador General Bernardo O'Higgins"> Región del Libertador General Bernardo O'Higgins </option>
        <option value="Región del Maule"> Región del Maule </option>
        <option value="Región de Ñuble"> Región de Ñuble </option>
        <option value="Región del Biobío"> Región del Biobío </option>
        <option value="Región de Los Ríos"> Región de Los Ríos </option>
        <option value="Región de Los Lagos"> Región de Los Lagos </option>
        <option value="Región de Aysén del General Carlos Ibáñez del Campo"> Región de Aysén del General Carlos Ibáñez del Campo </option>
        <option value="Región de Magallanes y de la Antártica Chilena"> Región de Magallanes y de la Antártica Chilena </option>
      </select>

      <br>

      <select class="form-control" name="region3" id="region3" #region3="ngModel" [(ngModel)]="user.region3">
         <option value="Arica y Parinacota"> Arica y Parinacota   </option>
        <option value="Región de Tarapacá"> Región de Tarapacá </option>
        <option value="Región de Antofagasta"> Región de Antofagasta </option>
        <option value="Región de Atacama"> Región de Atacama </option>
        <option value="Región de Coquimbo"> Región de Coquimbo </option>
        <option value="Región de Valparaíso"> Región de Valparaíso </option>
        <option value="Región Metropolitana de Santiago"> Región Metropolitana de Santiago </option>
        <option value="Región del Libertador General Bernardo O'Higgins"> Región del Libertador General Bernardo O'Higgins </option>
        <option value="Región del Maule"> Región del Maule </option>
        <option value="Región de Ñuble"> Región de Ñuble </option>
        <option value="Región del Biobío"> Región del Biobío </option>
        <option value="Región de Los Ríos"> Región de Los Ríos </option>
        <option value="Región de Los Lagos"> Región de Los Lagos </option>
        <option value="Región de Aysén del General Carlos Ibáñez del Campo"> Región de Aysén del General Carlos Ibáñez del Campo </option>
        <option value="Región de Magallanes y de la Antártica Chilena"> Región de Magallanes y de la Antártica Chilena </option>
      </select>
      
    </div>
    <hr>
    <!-- Termino -->
    <div class="form-group">
        <label> Selecione metodo de pago, puedes seleccionar mas de uno. </label>
        <p><input type="checkbox" name ="payment" value="Boleta" #payment_bolet="ngModel" [(ngModel)]="user.payment_bolet"/> Boleta </p>   
        <p><input type="checkbox" name ="payment" value="Factura30" #payment_facture30="ngModel" [(ngModel)]="user.payment_facture30"/> Factura [30 dias]</p>  
        <p><input type="checkbox" name ="payment" value="Factura60" #payment_facture60="ngModel" [(ngModel)]="user.payment_facture60"/> Factura [60 dias]</p>  
        <p><input type="checkbox" name ="payment" value="Factura90" #payment_facture90="ngModel" [(ngModel)]="user.payment_facture90"/> Factura [90 dias]</p>  
    </div>

    <div class="form-group">
        <label > Escribe sobre tí </label>
          <textarea class="form-control"  name="description"  #description="ngModel" [(ngModel)]="user.description" required> </textarea>
          
          <span *ngIf="!description.valid && description.touched">El ingreso es obligatorio</span>
    </div>


    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="user.password" required />
      <span *ngIf="!password.valid && password.touched">El ingreso es obligatorio</span>
    </div>
  <hr>

    <div class="form-group">
      <input class="btn btn-primary btn-block" type="submit"  [disabled]="!registerForm.form.valid"/>
    </div>
    <br>
    <a [routerLink]="['/login']" [routerLinkActive]="['actived']" class="already">¿Ya tienes una cuenta? Ingresa aquí</a>
  </form>
  <div class="alert alert-success" *ngIf="status == 'success'">
      Registro completado, <a [routerLink]="['/login']" [routerLinkActive]="['actived']" class="already"><strong>Inicia</strong> sesión</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Ha ocurrido un error, puede que el usuario ya este en uso, <strong>Intentalo nuevamente.</strong>  
      </div>
</div>
            
              
     
