<div class="col-xs-12 abs-center">
    <div class="form" >
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" >
          <h2 class="text-center">
                <strong>Dar</strong> acceso a el registro de tu cuenta.
                <p>Usa el codigo y la contraseña que te dio tu coach</p>
          </h2>

          <div class="form-group">
                  <input class="form-control" type="text" name="code" placeholder="Codigo" #code="ngModel" [(ngModel)]="institution.code" required />
                  <span *ngIf="!code.valid && code.touched">El codigo no es correcto</span>
          </div>
          
          <div class="form-group">
                  <input class="form-control" type="password" name="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="institution.password" required />
                  <span *ngIf="!password.valid && password.touched">El password es obligatorio</span>
          </div>

          <div class="form-group">
                  <input class="btn btn-primary btn-block"  type="submit" [disabled]="!loginForm.form.valid"/>
          </div>

          </form>
          <div class="alert alert-success" *ngIf="status == 'success'">
                        Has ingresado correctamente
            </div>
            
            <div class="alert alert-danger" *ngIf="status == 'err'">
                          Ha ocurrido un error, puede que el usuario no sea valido, <strong>Intentalo nuevamente.</strong>  
            </div>
    </div>
</div>